<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Responsive Product Design</title>
</head>

<body>
    <div class="jumbotron" style="background-color:rgb(251, 174, 84);">
        <div class="container text-center">
            <h1 class="display-3">Copper Private Limited</h1>
            <h5 class="display-6">We Manufacture high quality Copper products</h5>
        </div>
    </div>
    <div class="container">
        <div class="row text-center" style="background-color:rgb(248, 216, 140);">
            <div class="col-12 col-md-3 "><a href="/home">home</a></div>
            <div class="col-12 col-md-3 "><a href="/products">products</a></div>
            <div class="col-12 col-md-3 "><a href="/people">people</a></div>
            <div class="col-12 col-md-3 "><a href="/contactus">contactus</a></div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <h3 class="display-6">Contact details</h3>
            </div>
        </div>
            <h3>Contact person:</h3>
            <h5>Vijay Kharti (director)</h5>
            
            <h5>Adress:</h5>
            <address>Copper Private Limited<br>No. 1-A,<br>Puliambedu,<br>Numbal,Off Poonamallee High Road,<br>Chennai - 600077,<br>Tamil Nadu, India</address>
            
        
            <h5>Call us:</h5>
            <h5><a href="#">044-067658</a></h5>
           
        <h3>Other contact details</h3>
        <h5>Sales Enquiry</h5>
        <h5> Kavita</h5> 
        <address>1A puliembedu,<br>Numbal, <br>Off PH Rd,<br>Chennai - 600077, India</address>

        <h4>Head Office</h4>
        <h5>Kamal Khatri,</h5>
        <address>1A Puliembedu, <br>Numbal,<br>Off Poonamallee High Road, India</address>
        
        

        <h4>Branch Office</h4>
        <h5>Vijay Khatri</h5>

        <h4>Head Office</h4>
        <h5>Srinivasan</h5>
        <address>1A Puliembedu, <br>Numbal,<br>Off Poonamallee High Road, India</address>

        <div class="alert alert-success" role="alert">
  E-mail: <a href="#" class="alert-link">Copperpvt@gmail.com</a>
        </div>
        

        <div class="row text-center" style="background-color:rgb(251, 174, 84);">
            <div class="col-12">
                <p>Copyright © 2021 Silicon Private Limited, Developed by Gowri</p>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>