<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Responsive Product Design</title>
</head>

<body>
    <div class="jumbotron" style="background-color:rgb(251, 174, 84);">
        <div class="container text-center">
            <h1 class="display-3">Copper Private Limited</h1>
            <h5 class="display-6">We Manufacture high quality Copper products</h5>
        </div>
    </div>
    <div class="container">
        <div class="row text-center"  style="background-color:rgb(248, 216, 140);">
            <div class="col-12 col-md-3 " ><a href="/home">home</a></div>
            <div class="col-12 col-md-3 "><a href="/products">products</a></div>
            <div class="col-12 col-md-3 "><a href="/people">people</a></div>
            <div class="col-12 col-md-3 "><a href="/contactus">contactus</a></div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <h3 class="display-6">Our Team</h3>
            </div>
        </div>
            <div class="row text-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo1.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shri Aaditkhan</h5>
                    <p class="card-text">CEO of Copper Labs</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo2.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Andrews</h5>
                    <p class="card-text">Senior Manager Officer</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo3.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Merolin</h5>
                    <p class="card-text">Chairman of the Copper labs</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo4.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ragunath A.Mashelkar</h5>
                    <p class="card-text">Chief Financial Officer</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo5.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shri Yogendra P.Trivendi</h5>
                    <p class="card-text">Marketting manager</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img class="card-img-top" src="/static/img/peo6.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">prof Deepak C.Jain</h5>
                    <p class="card-text">Copper lab's Chief Technology Officer</p>
                    <a href="#" class="btn btn-primary">About</a>
                </div>
            </div>
        </div>
        <div class="row text-center" style="background-color:rgb(251, 174, 84);">
            <div class="col-12">
                <p>Copyright © 2021 Silicon Private Limited, Developed by Gowri</p>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>