<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Responsive Product Design</title>
</head>

<body>
    <div class="jumbotron" style="background-color:rgb(251, 174, 84);">
        <div class="container text-center">
            <h1 class="display-3">Copper Private Limited</h1>
            <h5 class="display-6">We Manufacture high quality Copper products</h5>
        </div>
    </div>
    <div class="container">
        <div class="row text-center" style="background-color:rgb(248, 216, 140);">
            <div class="col-12 col-md-3 "><a href="/home">home</a></div>
            <div class="col-12 col-md-3 "><a href="/products">products</a></div>
            <div class="col-12 col-md-3 "><a href="/people">people</a></div>
            <div class="col-12 col-md-3 "><a href="/contactus">contactus</a></div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <h3 class="display-6">Our Premium Products</h3>
            </div>
        </div>
            <div class="row text-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product1.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deoxidised Low Phosphorous</h5>
                    <p class="card-text">price: Rs.500.00/Kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product2.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tellurium copper rod</h5>
                    <p class="card-text">price: Rs.700/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product3.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tellurium copper strip </h5>
                    <p class="card-text">price: Rs.730/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product4.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Silver Bearing Copper strip</h5>
                    <p class="card-text">price: Rs.800/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product5.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deoxidised Low Phosphorous Copper rod</h5>
                    <p class="card-text">price: Rs.950/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product6.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Copper Rod (Electrolytic Tough Phosphorous)</h5>
                    <p class="card-text">price: Rs.1766/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product7.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Copper Hollow Profiles</h5>
                    <p class="card-text">price: Rs.1233/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product8.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Deoxidised High Phosphorous (DHP) Copper Strip</h5>
                    <p class="card-text">price: Rs.550/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product9.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Press components</h5>
                    <p class="card-text">price: Rs.430/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product10.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Integral Finned Tubes</h5>
                    <p class="card-text">price: Rs.1970/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product13.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bare Copper Wires</h5>
                    <p class="card-text">price: Rs.197/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <img class="card-img-top" src="/static/img/product14.png" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Copper Billet</h5>
                    <p class="card-text">price: Rs.650/kg</p>
                    <a href="#" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
        <div class="row text-center" style="background-color:rgb(251, 174, 84);">
            <div class="col-12">
                <p>Copyright © 2021 Silicon Private Limited, Developed by Gowri</p>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
